/*
  Background

*/
body, html{
  height:100%;
  width: 100%;
  margin: 0;
  padding:0;
  left: 0;
  top: 0;
  font-size: 100%;
}
body{
  margin: 0px;
  /*background: url(lib/media/DiscoTeca.jpg);*/
  font-size: 18px;
/*  animation: pulse 1s infinite;*/
  -webkit-animation: pulse .25s infinite;
}
@-webkit-keyframes pulse{
    100%{
      background: url(lib/media/DiscoTeca.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
    0%{
      background: url(lib/media/DiscoTecaFlipped.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

body, a:link, a:visited, a:active{
  color: #ce2c56fa;
}

/*

  Nav Bar
*/
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background: red;
}
.title{
  background-color:black;
}

.ballerinaButton{
  font-family: cursive;
}


/*
  Dancers
*/


.dancer{
  width: 175px;
  height: auto;
  position:absolute;
  display: inline;
/*  background-image: url(lib/media/spiderman.jpeg);
*/}

img.dancer {
  width: 175px;
  height: auto;
  position:absolute;
}

img.disco{
  height 400px;
  /*background-color: rgba(255,50,0,0.5);*/
}

/*Responsive*/

@media only screen and (max-width: 430px) {
  .title, .addDancerButton,
  .topbar, .title,
  .ballerinaButton {
    min min-height: 48px;
  }

  body {
  font-size: 1em;
  margin: auto;
  min-width: 300px;
  }
}